.product-image {
  width: 100px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.p-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.p-card p {
  margin-top: 1rem;
  color: #666;
}




// ancienne version
:host ::ng-deep {
  .p-carousel .p-carousel-content {
    background: transparent;
  }

  .p-button-secondary {
    color: #e0e0e0 !important;
    border-color: #374151 !important;
  }

  .p-button-secondary:hover {
    color: #ff4d4f !important;
  }

  .p-tag {
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
    background-color: #1f2937 !important;
    color: #9ca3af !important;
  }
}
